@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-[#E0E0E0];
  }
}

/* Hide scrollbar entirely */
::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Pulsating Blue Dot for Map */
.custom-pulse-icon {
  background: transparent;
  border: none;
}

.pulse-dot {
  width: 16px;
  height: 16px;
  background-color: #3b82f6;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 rgba(59, 130, 246, 0.4);
  animation: pulse 2s infinite;
  border: 2px solid white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}
